# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\morte\Documents\Dokumentation\1. Semester (Software Udvikling)\3. System Integration (SI)\GitHub (Assignments)\Soft2020-SI-Assignments\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
